nav{
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0px;
    .left{
        width: 210px;
        img{
            width: 100%;
        }
    }
    ul{
        display: flex;
        margin-left: 14%;
        .d1{
            .drop-menu{
                display: none;
                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                }
            }
            &:hover .drop-menu{
                display: block;
            }
            .d2{
                .drop-menu{
                    display: none;
                    a{
                        display: block;
                        color: black;
                        text-decoration: none;
                    }
                }
                &:hover .drop-menu{
                    display: block;
                }
        }
        li{
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            opacity: 0.9;
            letter-spacing: 1px;
            color: black;
            margin-left: 50px;
            a{
            color: black;
            text-decoration: none;
            }    
        }
    }
}